/* Reinicialização de estilos */
body{
  font-family: 'Roboto', sans-serif;
}

.row{
  margin: 0;
}

.container{
  padding: 0px 0px;
}

p, li{
  color: #444;
  font-size: 14px;
}

/* Navigation Bar */

header, .navbar {
  background-color: rgb(49, 45, 45);
}

#nav-container{
  padding-top: 0;
  padding-bottom: 0;

}

#logo{
  width: 75px;
  border-radius: 35px;
  padding-left: 15%;
}

.navbar-brand{
  padding: 0;
  color:aliceblue;
}

.navbar-brand:hover{
  padding: 0;
  color:aliceblue;
}

#navbar-links a{
  color: aliceblue;
  padding-right: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 1rem .8rem
}

h2 {
  font-size: 35px;
  padding-top: 6rem;
  text-align: center;

}


h3 {
  font-size: 35px;
  text-align: center;
  padding-top: 15rem;
}

#who-area{
  background-color: rgba(100, 100, 100, 0.13);
  color: rgb(3, 4, 5);
  padding-bottom: 2rem;
}

#graduation-area{
  background-color: rgba(100, 100, 100, 0.13);
  color: rgb(3, 4, 5);
  padding-bottom: 2rem;
}

#portfolio-area{
  background-color: rgba(100, 100, 100, 0.13);
  color: rgb(3, 4, 5);
  padding-bottom: 2rem;
}

#contact-area{
  background-color: rgba(100, 100, 100, 0.13);
  color: rgb(3, 4, 5);
  padding-bottom: 0rem;
}

.port1{
  padding-bottom: 0px;
}
.contato{
  color:#1f1f31;
  display:flex;
  flex-direction: column;
  border-radius: 36px;
  border-style: none;
  align-items: center;
  justify-content: center;


}

.formulario{
  padding-bottom: 30px;
  margin-bottom: 50px;
}

main .formulario label{
  background-color: rgb(235, 235, 235);
  display:flex;
  flex-direction: column;
  min-width: 250px;
  border-style: none;
  justify-content: center;
  margin-top:0;
}

.botao{
  background-color: #757575;
  border-radius: 25px;
  margin: 20px;
  width: 150px;
  color:aliceblue
}

.btn-whats{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: green;
  border-style: none;
}

.btn-whats:hover{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color:green
}

.btn-icon{
  padding: 0px;
  background-color: aliceblue;
}

footer{
  border-top: 2px solid black;
}

.footer-area{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-linkedin{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: rgb(23, 0, 128);
  border-style: none;
}

.btn-linkedin:hover{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color:rgb(23, 0, 128)
}

.btn-git{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: rgb(27, 27, 27);
  border-style: none;
}

.btn-git:hover{
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color:rgb(27, 27, 27)
}